</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © <span id="year"></span> </p>
</footer>
</body>

</html>
<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>